.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: #000;
}

#findDevices {
    margin-top: 75px;
    background: #1a1a1a;
    border-radius: 7px;
    width: 75%;
    color: #d9d9d9;
    opacity: 50%;
    font-size: 15px;
    padding-top: 20px;
}

#connectedDevices {
    margin-top: 75px;
    background: #1a1a1a;
    border-radius: 7px;
    width: 75%;
    color: #d9d9d9;
    opacity: 50%;
    font-size: 15px;
    padding-top: 20px;
}

#configureDevices {
    margin-top: 75px;
    background: #1a1a1a;
    border-radius: 7px;
    width: 90%;
    color: #d9d9d9;
    opacity: 50%;
    font-size: 15px;
    padding-bottom: 20px;
}

#editDevices {
    margin-top: 75px;
    background: #1a1a1a;
    border-radius: 7px;
    width: 90%;
    opacity: 50%;
    color: #d9d9d9;
    font-size: 15px;
    padding-bottom: 20px;
}

#addUser {
    margin-top: 75px;
    background: #1a1a1a;
    border-radius: 7px;
    width: 75%;
    color: #d9d9d9;
    opacity: 50%;
    font-size: 15px;
    padding-top: 20px;
}

#currentUsers{
    margin-top: 10px;
    background: #1a1a1a;
    border-radius: 7px;
    width: 75%;
    color: #d9d9d9;
    opacity: 50%;
    font-size: 15px;
    padding-top: 20px;
}

.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

.ng-valid.ng-dirty {
    border-color: #78FA89;
}

