.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: #000;
}

#findDevices {
    margin-top: 75px;
}

#connectedDevices {
    margin-top: 75px;
}

#configureDevices {
    margin-top: 75px;
}

#editDevices {
    margin-top: 75px;
}

.userForm{
    margin-top: 75px;
}
